<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cambio de clave</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{{asset('bundles/ce_liceo_paraiso_app/login/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/ce_liceo_paraiso_app/login/css/form-elements.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/ce_liceo_paraiso_app/login/css/style.css')}}">

        <!-- Javascript -->
        <script src="{{asset('bundles/ce_liceo_paraiso_app/login/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{asset('bundles/ce_liceo_paraiso_app/login/js/jquery.backstretch.min.js')}}"></script>
        <script src="{{asset('bundles/ce_liceo_paraiso_app/login/js/scripts.js')}}"></script>
    </head>

    <body>
        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>CELIPA</strong> Cambiar contraseña</h1>
                            <div class="description">
                                <p>
                                    Administración del Sitio Web CELIPA (Centro Educativo Liceo Paríso)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Ingrese los datos</h3>
                                    <p>Su contraseña es temporal por favor ingrese los datos:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="{{ path('ce_liceo_paraiso_change_pass') }}" method="post" class="login-form">
                                    {% if alert is defined %}
                                        <div class="alert alert-warning text-center">
                                            <strong>
                                                <img src="{{ asset('bundles/ce_liceo_paraiso_app/img/cancel.png') }}"/> 
                                                {{alert}}
                                            </strong>
                                        </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label class="sr-only" for="passOld">Contraseña actual:</label>
                                        <input type="password" name="passOld" class="form-username form-control" id="passOld" value="{{passOld}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="passNew">Nueva Contraseña:</label>
                                        <input type="password" name="passNew" class="form-username form-control" id="passNew" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="confirmPass">Confimar Contraseña:</label>
                                        <input type="password" name="confirmPass" class="form-username form-control" id="confirmPass" required>
                                    </div>
                                    <button type="submit" class="btn">Cambiar Contraseña</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid text-center">
            <p>Centro Educativo Liceo de Paraíso</p>
            <p>Trabajo Comunal Universitario - UCR - 2017</p>
        </footer>
    </body>
</html>